<%= div_for task do %>
  <span class="handle">=</span>
  <%= best_in_place task, :name %>
  <span class="actions">
    <%= link_to "remove", task, method: :delete, remote: true %>
  </span>
<% end %>
